{% extends "dashboard.html" %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center">
  <div class="card" style="width: 100%; max-width: 500px; border-radius: 10px; margin:100px; box-shadow: 0 2px 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card-body p-4">
      <h1 class="text-center mb-4" style="color: #5bb1f9">Reset Password</h1>
      
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      
      <form action="{% url 'reset-password' %}" method="post">
        {% csrf_token %}
        
        <!-- Password Field -->
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter new password"
            required
          >
        </div>
        <label for="password" class="form-label">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="confirm_password"
            placeholder="Enter new password"
            required
          >
        </div>
        
        <!-- Submit Button -->
        <button type="submit" class="btn w-100" style="background-color: #5bb1f9; color: white;">
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}